#hero h5 {
  padding-bottom: 15px;
}
#hero-header {
  font-weight: 800;
  font-size: 60px;
  color: white;
}

#hero-subheader {
  margin: 0;
  font-weight: 400;
  /* margin-bottom: 4rem; */
  font-size: 25px;
}
/* BUTTONS */
.call-to-action {
  background: #8fbe08;
  display: inline-block;
  color: white;
  border-radius: 45px;
  padding: 15px 55px;
  margin-bottom: 1rem;
  font-size: 20px;
}
.call-to-action-2 {
  border-color: none;
  background: #6ba4b4;
  display: inline-block;
  color: white;
  border-radius: 45px;
  padding: 15px 55px;
  margin-bottom: 1rem;
  font-size: 20px;
}
#repair-now-btn {
  background: #6ba4b4;
  width: 30%;
  text-align: center;
  display: block;
  color: white;
  border-radius: 20px;
  padding: 10px 35px;
  margin-bottom: 1rem;
  font-size: 18px;
}
#repair-now-btn:hover {
  background: rgb(94, 146, 160);
}
#call-now-btn {
  background: #8fbe08;
  width: 30%;
  height: 50px;
  text-align: center;
  display: block;
  color: white;
  border-radius: 20px;
  padding: 10px 35px;
  font-size: 18px;
}
#call-now-btn:hover {
  background: #6b9406;
}

/* REVIEW CARD */
.review-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
  background: white;
  height: auto;
  width: auto -20px;
  color: black;
  padding: 30px;
  margin: 25px 0;
  border-radius: 8px;
}
.review-card img {
  margin: 20px 0 0 25px;
  border-radius: 100%;
}
.review-card h5,
h6 {
  margin: 0;
  padding: 0;
}

/* MEDIA QUERIES */
/* small screens */
@media only screen and (max-width: 600px) {
  #hero {
    background: url('https://i.postimg.cc/8PggrDj8/hero-mobile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    color: white;
    padding: 10rem 0 6rem 0;
    margin-top: -60px;
  }
  .review-card {
    width: 360px;
  }
}
@media only screen and (min-width: 661px) {
  .review-card {
    width: 400px;
  }
  #hero {
    background: url('https://i.postimg.cc/hGv5MrvW/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    padding: 5rem 0 4.7rem 0;
    margin-top: -65px;
  }
}
