@import url('hero.css');
@import url('Nav.css');
@font-face {
  font-family: 'circular';
  src: url(../CircularStd-Medium.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'circular';
  src: url(../CircularStd-Bold.ttf);
  font-weight: bold;
}
:root {
  --primary-color: #0269a9;
  --secondary-color: #58cd5e;
}

* {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: circular;
  font-weight: bold;
}
h4,
h5,
h6 {
  font-family: circular;
  font-weight: normal;
}
/* {
  font-family: Helvetica;
  font-weight: 200;
} */
a {
  transition: 1s ease;
}

.brand-logo {
  font-family: circular;
}
/* STICKY BAR  */
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  z-index: 9999999;
  position: fixed;
  right: 2%;
  top: 67%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  transition: none;
  width: 60px;
  height: 60px;
  margin-left: 5px;
  display: block;
  border-radius: 5px;
  text-align: center;
  padding: 16px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
.sidenav-overlay {
  background: none !important;
}

.ninjarepair-logo {
  font-family: circular;
}

/* HOW IT WORKS */
#works {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}
#works h5 {
  font-weight: 200;
}
#works h2 {
  font-weight: 600;
}
#works img {
  max-width: 300px;
  max-height: 200px;
}
/* CALCULATOR */
#price-card {
  padding: 4rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}
#price-card h3 {
  text-align: left;
  margin: 2rem 0 5rem 3rem;
}

#customers {
  padding: 18px 10px 8px 10px;
  margin: none;
}

.parallax-container {
  color: white;
  height: 350px;
}
.parallax {
  height: 180px;
}
#nav {
  background: none;
  box-shadow: none;
  transition: 0.3s all;
}
.light-font {
  font-weight: 200;
}
.changeColor {
  background: #0269a9 !important;
}
#get-started {
  padding: 50px 0 0 0;
}
#get-started h1 {
  font-weight: 300;
}
#get-started h5 {
  font-weight: 200;
  padding-bottom: 10px;
}
.picker__date-display {
  background-color: #6ba4b4;
}

footer i {
  font-size: 20px;
}
footer i:hover {
  color: rgb(19, 63, 110);
  transition: ease 200ms;
}
.page-footer {
  background: #6ba4b4 !important;
}
.page-footer a {
  color: white;
}

#brands img {
  width: 200px;
}
@media only screen and(max-width:460px) {
}
@media only screen and(min-width:470px) {
}
